html body {
  background: #dfedf2;
}
#main-wrapper {
  padding-bottom: 174px;
}
.hi_text {
  font-size: 18px;
  color: deepskyblue;
}
.text-muted {
  color: #53a9c6 !important;
}
#formjek12 {
  label {
    color: #104f64;
    padding-bottom: 10px;
  }
}
#formWrapper {
  margin-bottom: 20px;
}
.form-control {
  background-color: #e5edfb;
}
.form-control:focus {
  background-color: #e0eaf4;
}
.admin {
  height: 320px;
  margin-bottom: 4rem;
}
.user {
  height: 320px;
  margin-bottom: 20px;
}
.but {
  display: flex;
  justify-content: space-between;
}
.delete, .edit {
  width: 49%;
}
.but {
  position: relative;
  z-index: -100;
}
.cat_card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 0.25rem;
  margin-bottom: -50px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#edit-submit {
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
