<p class = "hi_text"> {{ hi_text }} </p>
{{ form }}

{% for record in rowsArr %}
{% for i in record %}

    <p class="{{ cycle(['even'], loop.index) }}">{{ record[i] }}</p>

{% endfor %}

{% endfor %}
