<p class = "hi_text"> {{ hi_text }} </p>
{{ form }}

{% for record in rowsArr %}
  <p class = "row">{{ record }}</p>
  {% for fields in record %}
    <p class = 'field'>{{ fields }}</p>
  {% endfor %}
{% endfor %}


